<div class="slides">
  <div class="slide" [ngStyle]="{'background-image':'url('+Slides[currentSlideIndex].imageUrl}">
    <div class="container hero">
      <div class="section">
        <h1 class="text-light">
          welcome to our <span class="text-info">Book</span>St<span class="spp">ore</span>
        </h1>
        <p class="fs-2 fst-italic">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam nihil illum, iusto earum expedita quaerat quidem alias incidunt odio magnam beatae, repudiandae minus eum quam voluptate dicta cum optio voluptates.</p>
        <button class="btn btn-info d-flex mx-auto">
          Create an account
        </button>
      </div>
    </div>
  </div>
</div>